@import "../../theme/variables";

.included-angle > div {
  padding: 0 15px !important;
}

.included-wrapper {
  display: flex;
  height: 100%;
  width: 100%;

  &.included-sun {
    .included-tabs ul li {
      &.included-active, &:hover {
        color: $sun;
      }
    }
    .included-content:before {
      background: $sun;
    }
  }

  &.included-orange {
    .included-tabs ul li {
      &.included-active, &:hover {
        color: $orange;
      }
    }
    .included-content:before {
      background: $orange;
    }
  }

  &.included-playboy {
    .included-tabs ul li {
      &.included-active, &:hover {
        color: $playboy;
      }
    }
    .included-content:before {
      background: $playboy;
    }
  }

  &.included-marine {
    .included-tabs ul li {
      &.included-active, &:hover {
        color: $marine;
      }
    }
    .included-content:before {
      background: $marine;
    }
  }

  &.included-forest {
    .included-tabs ul li {
      &.included-active, &:hover {
        color: $forest;
      }
    }
    .included-content:before {
      background: $forest;
    }
  }

  &.included-sea {
    .included-tabs ul li {
      &.included-active, &:hover {
        color: $sea;
      }
    }
    .included-content:before {
      background: $sea;
    }
  }

  &.included-pink {
    .included-tabs ul li {
      &.included-active, &:hover {
        color: $pink;
      }
    }
    .included-content:before {
      background: $pink;
    }
  }

  .included-content {
    width: 50%;
    padding: 20px 40px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 1px;
      top: 0;
      left: -0.5px;
      opacity: 0.3;
      height: 100%;
      background: $sun;
    }

    .included-title {
      margin-bottom: 20px;
      font-size: 20px;
      height: 60px;
      font-weight: bold;
    }

    .included-list {
      list-style-type: none;
      padding: 0;
      height: 290px;
      margin-bottom: 0;
      overflow-y: auto;

      li {
        font-size: 15px;
        margin-bottom: 5px;
      }
    }
  }

  .included-tabs {
    width: 50%;
    padding: 20px;

    ul {
      list-style-type: none;
      padding: 0;
      width: 100%;

      li {
        cursor: pointer;
        padding: 5px 10px;
        width: 100%;
        font-weight: 400;
        color: $night;

        .included-icon {
          width: 40px;
          vertical-align: middle;
          margin-right: 10px;
          text-align: center;
          font-size: 22px;
          border: 2px solid;
          padding: 7px;
          height: 40px;
          border-radius: 50%;
        }

        span {
          vertical-align: middle;
          font-size: 15px;
        }

        &.included-active, &:hover {
          color: $sun;
        }
      }
    }
  }
}