@import "../../theme/variables";

.menuWrapper {
  position: fixed;
  top: 25px;
  left: 25px;
  display: flex;
  justify-content: flex-start;
  z-index: 100;

  &.showWrapper {
    .hamburger {
      color: $night;
      border: 2px solid $night;
    }

    .contacts div{
      color: $night;
    }
  }

  .hamburger {
    width: 40px;
    height: 40px;
    color: $day;
    font-size: 24px;
    cursor: pointer;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid $day;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    transition: border 0.3s ease, color 0.3s ease;

    &:hover {
      border: 2px solid $sun;
      color: $sun;
    }
  }

  .contacts {
    height: 40px;
    z-index: 101;
    margin-left: 20px;

    div {
      font-size: 14px;
      font-weight: bold;
      color: $day;
      margin-bottom: 3px;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background: rgba($day, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .wrapper {
    width: 60%;
    min-width: 800px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  .menuItemWrapper {
    height: 140px;
    width: 250px;
    margin-bottom: 80px;

    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
      margin-bottom: 0;
    }

    .menuItem {
      position: relative;
      cursor: pointer;
      border-radius: 8px;

      &.ab:after {
       border-color: $orange;
      }

      &.a:after {
       border-color: $playboy;
      }

      &.c:after {
       border-color: $marine;
      }

      &.p:after {
       border-color: $forest;
      }

      &.ph:after {
       border-color: $sea;
      }

      &.v:after {
       border-color: $pink;
      }

      &:after {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 4px;
        left: -7px;
        content: '';
        display: block;
        border-radius: 12px;
        border-width: 4px;
        border-style: solid;
        border-color: $night;
        transition: transform 0.3s ease, top 0.3s ease, left 0.3s ease;
        transform: rotateZ(-1.5deg);
        transform-origin: right top;
      }

      img {
        width: 100%;
        border-radius: 12px;
      }

      .menuItemName {
        position: absolute;
        border-radius: 12px;
        top: 0;
        height: 100%;
        border: 4px solid $day;
        left: 0;
        width: 100%;
        color: $day;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        transition: color 0.3s ease, background 0.3s ease;
        background: rgba($night, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {

        &:after {
          transform: rotateZ(0deg);
          top: 0;
          left: 0;
        }

        .menuItemName {
          color: $sun;
          background: rgba($night, 0.3);
        }
      }
    }
  }
}

.logo {
  position: fixed;
  top: 24px;
  cursor: pointer;
  right: 4px;
  width: 143px;
  z-index: 101;

  img {
    width: 100%;
  }
}
