@import "../../theme/variables";

.rti-wrapper {
  padding: 10px 12px;
  height: 42px;

  .rti-tag {
    display: inline-block;
    padding: 3px;
    background: $marine;
    color: $day;
    margin-right: 2px;
    border-radius: 3px;
  }

  .react-tagsinput-input {
    border: none;
    margin-left: 5px;
  }
}
