@import "../../theme/variables";

.heroContainer {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 0 auto;

  &:before {
    height: 100%;
    width: 100%;
    top: -4px;
    left: -4px;
    content: '';
    display: block;
    border-radius: 15px;
    border: 4px solid $sun;
    transform-origin: left top;
    transform: rotateZ(6deg);
    pointer-events: none;
  }

  .heroWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 4px solid $day;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    .heroHeader {
      font-size: 18px;
      display: flex;
      flex-direction: column;
      padding: 20px 15px 10px;
      color: $day;
      font-weight: 300;
      text-transform: uppercase;
      border-bottom: 5px solid $day;

      div {
        //opacity: 0.7;
        margin-bottom: -3px;
      }
    }

    .heroBody {
      font-size: 43px;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;
      padding: 15px 10px;
      color: $day;
      font-weight: 900;
      text-transform: uppercase;

      .heroTitle {
        color: $sun;
      }

      div {
        margin-bottom: -10px;
      }
    }
  }



  &.hero-sun {
    &:before {
      border: 4px solid $sun;
    }

    .heroWrapper .heroBody .heroTitle {
      color: $sun;
    }
  }

  &.hero-orange {
    &:before {
      border: 4px solid $orange;
    }

    .heroWrapper .heroBody .heroTitle {
      color: $orange;
    }
  }

  &.hero-playboy {
    &:before {
      border: 4px solid $playboy;
    }

    .heroWrapper .heroBody .heroTitle {
      color: $playboy;
    }
  }

  &.hero-marine {
    &:before {
      border: 4px solid $marine;
    }

    .heroWrapper .heroBody .heroTitle {
      color: $marine;
    }
  }

  &.hero-forest {
    &:before {
      border: 4px solid $forest;
    }

    .heroWrapper .heroBody .heroTitle {
      color: $forest;
    }
  }

  &.hero-sea {
    &:before {
      border: 4px solid $sea;
    }

    .heroWrapper .heroBody .heroTitle {
      color: $sea;
    }
  }

  &.hero-pink {
    &:before {
      border: 4px solid $pink;
    }

    .heroWrapper .heroBody .heroTitle {
      color: $pink;
    }
  }
}
