@import "../../theme/variables";

.iu-dropzone {
  width: 100%;
  border: 2px solid $brand-primary;
  border-radius: 5px;
  background: $day;
  padding: 2rem 1rem;
  text-align: center;
  transition: all 200ms ease;

  div {
    font-size: 12px;
  }
}

.iu-activeDropzone {
  border-color: $brand-success;
  padding: 4rem 1rem;
}

.iu-imagesPreviews {
  margin: 1rem 0;
}

.iu-imagePreview {
  display: inline-block;
  vertical-align: top;
  position: relative;

  img {
    border-radius: 0.3rem;
    width: 100%;
  }
}

.iu-imagePreviewRemove {
  position: absolute;
  top: -5px;
  right: -5px;
  text-align: center;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  background-color: #d1cbc6;
  transition: background-color 0.3s ease;
  border: 1px solid #fff;
  cursor: pointer;
  &:hover {
    background-color: #b3aba4;
  }
}
