@import "../../theme/variables";

.subscribeAngle {

  &:before {
    transform: rotateZ(-2deg) !important;
    transform-origin: right top !important;
    right: -15px !important;
    top: -17px !important;
    height: 100% !important;
  }

  .cardWrapper {
    background: none;
    padding: 0;
  }

  .subscribeWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .subscribeHeader {
      height: 20%;
      border-bottom: 4px solid $day;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $day;
      font-size: 40px;
    }

    .subscribeBody {
      padding: 20px;
      flex: 1 100%;

      .subscribeInputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 40%;
        flex-wrap: wrap;

        & > span {
          width: 30%;
          margin-bottom: 20px;
        }
      }

      .subscribeInput {
        width: 100%;
        font-size: 18px;
        height: 45px;
        border-radius: 30px;

        &.subscribeTextArea {
          margin-top: 20px;
          height: 200px;
        }

        &:focus, &:active {
          border: 1px solid $sun;
        }
      }

      .subscribeBtnWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0 20px;
      }
      .subscribeBtn {
        border-radius: 30px;
      }
    }
  }
}
