@import "../../theme/variables";

.socialContainer {
  position: fixed;
  bottom: 15px;
  right: 4px;
  .socialList {
    display: flex;
    flex-direction: row-reverse;

    .socialLink {
      padding: 3px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      font-size: 20px;
      color: $day;
      border-radius: 50%;
      margin-left: 10px;
      border: 2px solid $day;
      transition: color 0.3s ease, border 0.3s ease;

      &:hover, &:focus {
        color: $sun;
        text-decoration: none;
        border: 2px solid $sun;
      }
    }
  }
}

