@import "../../theme/variables";

.toursPreview-container {
  width: 800px;
  height: 400px;
  position: relative;
  margin: 0 auto;

  &:before {
    height: 110%;
    width: 108%;
    top: -32px;
    position: absolute;
    right: -19px;
    content: '';
    display: block;
    border-radius: 15px;
    opacity: 0.8;
    border: 4px solid $orange;
    transform-origin: right top;
    transform: rotateZ(-2deg);
    pointer-events: none;
  }

  .toursPreview-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    color: $day;
    top: 0;
    left: 0;
    border: 4px solid $day;
    border-radius: 15px;

    .toursPreview-body {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 30px 10px;

      .toursPreview-title {
        font-size: 40px;
      }

      .toursPreview-gallery {
        position: absolute;
        width: 120%;
        bottom: -4px;
        left: -10%;
        height: 60%;
        border: 4px solid $day;
        border-radius: 15px;
        background: $day;
        display: flex;
        overflow-x: auto;

        .toursPreview-placeholder {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $night;
          font-size: 24px;
        }

        .toursPreview-tour {
          min-width: 33.333%;
          background-repeat: no-repeat;
          height: 100%;
          background-size: cover;
          margin-right: 10px;
          border-radius: 15px;

          &:last-child {
            margin-right: 0;
          }

          &:hover .toursPreview-content {
            background: rgba($night, 0.1);
          }

          .toursPreview-content {
            width: 100%;
            border-radius: 15px;
            transition: background 0.3s ease;
            height: 100%;
            background: rgba($night, 0.3);
            position: relative;

            .toursPreview-date {
              position: absolute;
              top: 10px;
              right: 10px;
              color: $day;
              text-align: right;
            }

            .toursPreview-titleWrapper {
              position: absolute;
              left: 10px;
              bottom: 10px;
              color: $day;

              .toursPreview-name {
                white-space: nowrap;
                font-size: 32px;
              }
            }
          }
        }
      }
    }
  }
}
