@import "../../theme/variables";

.aboutWrapper {
  display: flex;

  .aboutImgWrapper {
    width: 380px;
    img {
      height: 100%;
    }
  }

  .aboutText {
    margin-left: 10px;

    .aboutHeader {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .aboutTitle {
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 15px;

      .aboutBrand {
        color: $sun;
      }
    }

    .aboutContent {
      font-size: 14px;
      font-weight: 300;
    }
  }
}
