@import "../../theme/variables";

.cardContainer {
  width: 900px;
  height: 500px;
  position: relative;
  margin: 0 auto;

  &:before {
    height: 78%;
    width: 107%;
    top: 11px;
    position: absolute;
    right: -19px;
    content: '';
    display: block;
    border-radius: 15px;
    opacity: 0.8;
    border: 4px solid $sun;
    transform-origin: right top;
    transform: rotateZ(-4deg);
    pointer-events: none;
  }

  &.card-sun:before {
    border: 4px solid $sun;
  }

  &.card-orange:before {
    border: 4px solid $orange;
  }

  &.card-playboy:before {
    border: 4px solid $playboy;
  }

  &.card-marine:before {
    border: 4px solid $marine;
  }

  &.card-forest:before {
    border: 4px solid $forest;
  }

  &.card-sea:before {
    border: 4px solid $sea;
  }

  &.card-pink:before {
    border: 4px solid $pink;
  }

  .cardWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $day;
    color: $night;
    top: 0;
    left: 0;
    border: 4px solid $day;
    border-radius: 15px;
    display: flex;
    padding: 30px 10px;
    align-items: center;
  }
}
