@import "../../theme/variables";

.day-angle {

  .cardWrapper {
    padding: 0;
  }

  &:before {
    transform: rotateZ(6deg)!important;
    transform-origin: left top!important;
    right: auto!important;
    top: -20px!important;
    height: 100%!important;
  }
}

.day-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .day-imgWrapper {
    width: 50%;
    height: 100%;

    img {
      width: 100%;
      border-radius: 15px;
      height: 100%;
      object-fit: cover;
    }
  }

  .day-textWrapper {
    width: 50%;
    height: 100%;
    padding: 50px;

    .day-title {
      margin: 30px 0 20px;
      font-size: 40px;
      font-weight: bold;
      color: $night;

      span {
        position: relative;
      }

      small {
        position: absolute;
        top: -10px;
        left: 100%;
        margin-left: 5px;
        white-space: nowrap;
        font-size: 20px;
      }
    }

    .day-description {
      height: 300px;
      overflow-y: auto;
    }
  }
}
