@import "../../theme/variables";

.contactUsAngle {

  &:before {
    transform: rotateZ(3deg)!important;
    transform-origin: left top!important;
    right: auto!important;
    top: -20px!important;
    height: 100%!important;
  }

  .cardWrapper {
    background: none;
    padding: 0;
  }

  .contactUsWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .contactUsHeader {
      height: 20%;
      border-bottom: 4px solid $day;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $day;
      font-size: 40px;
    }

    .contactUsBody {
      padding: 20px;
      flex: 1 100%;

      .contactUsInputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 40%;

        & > span {
          width: 30%;
        }
      }

      .contactUsInput {
        width: 100%;
        font-size: 18px;
        height: 45px;
        border-radius: 30px;

        &.contactUsTextArea {
          margin-top: 20px;
          height: 200px;
        }

        &:focus, &:active {
          border: 1px solid $sun;
        }
      }

      .contactUsBtnWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0 20px;
      }
      .contactUsBtn {
        border-radius: 30px;
      }
    }
  }
}
