@import "../../theme/variables";

*::selection {
  background: $sun;
  color: $day;
}

.appWrapper {
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
  background-size: cover;

  .app {
    height: 100%;
    background: rgba($night, 0.4);
    min-height: 100vh;
  }
}


.appSpinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($day, 0.4);
  color: $night;
  display: flex;
  align-items: center;
  justify-content: center;
}
