@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');


body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

#root {
  min-height: 100vh;
}

textarea.form-control {
  resize: none;
  height: 100px;
}
