.adminToursIndex-index {
  .adminToursIndex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    h3 {
      margin: 0;
    }
  }

  .adminToursIndex-table {
    td {
      text-align: center;
    }
  }
}